.projectContainer {
    padding: 1rem;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projectContainer img {
    border-radius: 4px;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


.btnWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.githubLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 3rem;
    width: 3rem;
    min-width: 32px;
    min-height: 32px;
}

.githubLink svg {
    font-size: 2.25rem;
}


.deployLink svg {
    color: var(--text-color);
    font-size: 2em;
}