.projectsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}


.projectsContainer h2 {
    color: var(--text-color);
    text-align: center;
    border-bottom: 1px solid var(--glass-color);
    padding: .5rem;
    background-color: var(--btn-color);
    border-radius: .25rem .25rem 0rem 0rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.moreProjects {
    align-self: center;
    width: 100%;
    color: var(--text-color);
    background-color: var(--btn-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: .5rem 1rem;
    border-radius: 0rem 0rem .25rem .25rem;
    cursor: pointer;
    text-decoration: none;
}

.moreProjects:hover {
    box-shadow: none;
    filter: brightness(1.1);
}

.projectsList {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}


/* Media Query 512px */
@media (min-width: 32rem) {
	.projectsContainer  {
		margin: 1rem 1.25rem;
	}

	.projectsList  {
		padding: 1rem 1.25rem;
	}
}

/* Media Query 768px */
@media (min-width: 48rem) {
	.projectsContainer {
		margin: 0rem auto;
		margin-top: 2rem;
		max-width: 45.125rem;
        justify-content: center;
        align-items: center;
	}

    .projectsContainer h2 {
        width: 100%;
    }
}

/* Media Query 1024px */
@media (min-width: 64rem) {
	.projectsContainer {
		max-width: 60.125rem;
	}

    .projectsList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 1rem;
        width: 100%;
    }
}

/* Media Query 1440px */
@media (min-width: 90rem) {
	.projectsContainer  {
		max-width: 85.125rem;
	}
}
