.aboutContainer {
	border-radius: 4px;
	margin: 1rem;
	position: relative;
	display: flex;
	flex-direction: column;
}

.aboutContainer nav {
	display: flex;
	justify-content: space-between;
}

.aboutBtn {
	border-radius: 0.25rem;
	border: 0;
	cursor: pointer;
	font-size: 0.9rem;
}

.aboutBtn:hover {
	background: var(--active-bg);
	transform: none;
	box-shadow: none;
}

.aboutBtn.active {
	background: var(--active-bg);
	box-shadow: none;
}

.aboutContainer button:first-child {
	border-radius: 0.25rem 0rem 0rem 0rem;
}

.aboutContainer button:nth-child(2) {
	border-radius: 0;
}

.aboutContainer button:last-child {
	border-radius: 0rem 0.25rem 0rem 0rem;
}

.aboutContainer aside {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	padding: 1rem;
}

.aboutContainer aside li:first-child {
	border-top: none;
}

/* Media Query 512px */
@media (min-width: 32rem) {
	.aboutContainer  {
		margin: 1rem 1.25rem;
		
	}

	.aboutContainer aside  {
		padding: 1rem 2rem;
		
	}
}

/* Media Query 768px */
@media (min-width: 48rem) {
	.aboutContainer {
		margin: 0rem auto;
		margin-top: 2rem;
		max-width: 45.125rem;
	}

	.aboutContainer aside  {
		padding: 1rem 2rem;
		
	}
}

/* Media Query 1024px */
@media (min-width: 64rem) {
	.aboutContainer  {
		max-width: 60.125rem;
	}

	.aboutContainer aside, .aboutContainer button {
		font-size: 1.25rem;
	}
}

/* Media Query 1440px */
@media (min-width: 90rem) {
	.aboutContainer {
		max-width: 85.125rem;
	}
}
