.aboutContainer {
	border-radius: 4px;
	margin: 1rem;
	position: relative;
	display: flex;
	flex-direction: column;
}

.aboutContainer nav {
	display: flex;
	justify-content: space-between;
}

.aboutBtn {
	border-radius: 0.25rem;
	border: 0;
	cursor: pointer;
	font-size: 0.9rem;
}

.aboutBtn:hover {
	background: var(--active-bg);
	transform: none;
	box-shadow: none;
}

.aboutBtn.active {
	background: var(--active-bg);
	box-shadow: none;
}

.aboutContainer button:first-child {
	border-radius: 0.25rem 0rem 0rem 0rem;
}

.aboutContainer button:nth-child(2) {
	border-radius: 0;
}

.aboutContainer button:last-child {
	border-radius: 0rem 0.25rem 0rem 0rem;
}

.aboutContainer aside {
	padding: 1rem;
}

.aboutContainer aside li:first-child {
	border-top: none;
}
