.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	width: 100%;
  background-color: var(--glass-color);
  color: var(--text-color);
  border: none;
  position: fixed;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
}

.myName {
  font-family: "Unica One";
  color: "var(--text-color)";
  font-size: 1.125rem;
}

.btnsWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
