.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	width: 100%;
  background-color: var(--glass-color);
  color: var(--text-color);
  border: none;
  position: fixed;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
}

.langBtn {
  font-family: "Unica One";
  color: var(--text-color);
  font-size: 1.125rem;
  border: none;
  border-radius: .25rem;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
  background-color: var(--btn-color);
}

.btnsWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
