.container {
    list-style: none;
   display: flex;
   flex-direction: column;
   gap: .5rem;
   border-top: 1px solid var(--button-border-color);
}

.data {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

.local {
    display: flex;
    align-items: center;
    justify-content: center;
}

.local::before {
    content: "•";
    color: var(--btn-color);
    font-size: 2rem;
}

