:root {
	--bg-color: linear-gradient(
    135deg,
    rgba(162, 210, 255, 0.5) 0%,  
    rgba(144, 224, 239, 0.45) 35%, 
    rgba(72, 202, 228, 0.4) 70%,   
    rgba(2, 62, 138, 0.35) 100%   
  );
	--text-color: #012a4a;
	--glass-color: rgba(214, 234, 248, 0.5);
	--btn-color: #f4f4f4
}

[data-theme="dark"] {
	--bg-color: linear-gradient(45deg, #0d1b2a, #1b263b, #415a77);
	--text-color: #fff;
	--glass-color: rgba(110, 110, 110, 0.4);
	--btn-color: #012a4a
}

* {
	font-family: "Manrope", "san-serif";
}

body {
	color: var(--text-color);
	background-color: var(--bg-color);
	transition: background-color 0.3s ease, color 0.3s ease;
}

.glassFilter {
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(30px);
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.liteGlassFilter {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


